source/CommonResources/Interfaces/BusinessServices/IDOM/YIFWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="YIFWebServiceDefinitions"
	targetNamespace="http://yantra.com/yantrawebservices" xmlns=""
	xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://yantra.com/yantrawebservices"
	xmlns:WL5G3N2="java:com.yantra.interop.services.webservices.rpc.ejb"
	xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
	<WL5G3N0:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="java:com.yantra.interop.services.webservices.rpc.ejb"
			xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://yantra.com/yantrawebservices"
			xmlns:WL5G3N2="java:com.yantra.interop.services.webservices.rpc.ejb"
			xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="YIFWebServiceException" />
			<xs:element name="YIFWebServiceException" type="java:YIFWebServiceException"
				xmlns:java="java:com.yantra.interop.services.webservices.rpc.ejb" />
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://yantra.com/yantrawebservices"
			xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://yantra.com/yantrawebservices"
			xmlns:WL5G3N2="java:com.yantra.interop.services.webservices.rpc.ejb"
			xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="login">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="env" type="xs:string" />
						<xs:element name="document1" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="loginResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ikeaGetDeliveryOptions">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="envString" type="xs:string" />
						<xs:element name="apiString" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ikeaGetDeliveryOptionsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ikeaGetTimeWindows">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="envString" type="xs:string" />
						<xs:element name="apiString" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ikeaGetTimeWindowsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="login">
		<WL5G3N0:part element="WL5G3N1:login" name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="loginResponse">
		<WL5G3N0:part element="WL5G3N1:loginResponse" name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="YIFWebServiceException">
		<WL5G3N0:part element="WL5G3N2:YIFWebServiceException"
			name="YIFWebServiceException" />
	</WL5G3N0:message>
	<WL5G3N0:message name="ikeaGetDeliveryOptions">
		<WL5G3N0:part element="WL5G3N1:ikeaGetDeliveryOptions"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="ikeaGetDeliveryOptionsResponse">
		<WL5G3N0:part element="WL5G3N1:ikeaGetDeliveryOptionsResponse"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="ikeaGetTimeWindows">
		<WL5G3N0:part element="WL5G3N1:ikeaGetTimeWindows" name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="ikeaGetTimeWindowsResponse">
		<WL5G3N0:part element="WL5G3N1:ikeaGetTimeWindowsResponse"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:portType name="yantrawebservice">
		<WL5G3N0:operation name="login" parameterOrder="parameters">
			<WL5G3N0:input message="WL5G3N1:login" />
			<WL5G3N0:output message="WL5G3N1:loginResponse" />
			<WL5G3N0:fault message="WL5G3N1:YIFWebServiceException"
				name="YIFWebServiceException" />
		</WL5G3N0:operation>
		<WL5G3N0:operation name="ikeaGetDeliveryOptions"
			parameterOrder="parameters">
			<WL5G3N0:input message="WL5G3N1:ikeaGetDeliveryOptions" />
			<WL5G3N0:output message="WL5G3N1:ikeaGetDeliveryOptionsResponse" />
			<WL5G3N0:fault message="WL5G3N1:YIFWebServiceException"
				name="YIFWebServiceException" />
		</WL5G3N0:operation>
		<WL5G3N0:operation name="ikeaGetTimeWindows"
			parameterOrder="parameters">
			<WL5G3N0:input message="WL5G3N1:ikeaGetTimeWindows" />
			<WL5G3N0:output message="WL5G3N1:ikeaGetTimeWindowsResponse" />
			<WL5G3N0:fault message="WL5G3N1:YIFWebServiceException"
				name="YIFWebServiceException" />
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="YIFWebServiceSoapBinding" type="WL5G3N1:yantrawebservice">
		<WL5G3N3:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<WL5G3N0:operation name="login">
			<WL5G3N3:operation style="document" />
			<WL5G3N0:input>
				<WL5G3N3:body parts="parameters" use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N3:body parts="parameters" use="literal" />
			</WL5G3N0:output>
			<WL5G3N0:fault name="YIFWebServiceException">
				<WL5G3N3:fault name="YIFWebServiceException" use="literal" />
			</WL5G3N0:fault>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="ikeaGetDeliveryOptions">
			<WL5G3N3:operation style="document" />
			<WL5G3N0:input>
				<WL5G3N3:body parts="parameters" use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N3:body parts="parameters" use="literal" />
			</WL5G3N0:output>
			<WL5G3N0:fault name="YIFWebServiceException">
				<WL5G3N3:fault name="YIFWebServiceException" use="literal" />
			</WL5G3N0:fault>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="ikeaGetTimeWindows">
			<WL5G3N3:operation style="document" />
			<WL5G3N0:input>
				<WL5G3N3:body parts="parameters" use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N3:body parts="parameters" use="literal" />
			</WL5G3N0:output>
			<WL5G3N0:fault name="YIFWebServiceException">
				<WL5G3N3:fault name="YIFWebServiceException" use="literal" />
			</WL5G3N0:fault>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="YIFWebService">
		<WL5G3N0:port binding="WL5G3N1:YIFWebServiceSoapBinding"
			name="yantrawebservice">
			<WL5G3N3:address
				location="http://ptseelm-lx4305.ikeadt.com:7003/yantrawebservices/yantrawebservice" />
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>