source/CommonResources/DataModels/ApplicationObjects/IDOM/YFS_getTimeWindows_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getTimeWindows/input" targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getTimeWindows/input" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:annotation yfc:fileName="YFS_getTimeWindows_input.xsd" yfc:rootElement="Promise"/>
	<xsd:element name="Promise">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="yfc:ShipToAddress" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="yfc:PromiseServiceLines" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="yfc:PromiseLines" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="yfc:ServiceAssociations" minOccurs="1" maxOccurs="1"/>
			</xsd:all>
			<xsd:attribute name="EnterpriseCode" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Business rules are being considered on behalf of the EnterpriseCode specified. 
						Will be mapped from CountryCode by Integration Layer.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="OrganizationCode" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The Store channel making the request.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ReturnMultipleSrvcSlots" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Flag to indicate if a single time window should be returned or multiple time windows.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="N"/>
						<xsd:enumeration value="Y"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipToAddress">
		<xsd:complexType>
			<xsd:attribute name="Country" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The country in the address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ZipCode" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The zip code in the address.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="35"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PromiseServiceLines">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="yfc:PromiseServiceLine" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PromiseServiceLine">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="yfc:Extn" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="yfc:Options" minOccurs="1" maxOccurs="1"/>
			</xsd:all>
			<xsd:attribute name="ReqEndDate" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Look for available time windows between ReqStartDate and ReqEndDate.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:dateTime"/>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ReqStartDate" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Look for available time windows between ReqStartDate and ReqEndDate.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:dateTime"/>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ServiceLineId" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Identifier for the service product line.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ServiceSearchWindow" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The number of days to look for capacity from the earliest search date across all delivery options.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:nonNegativeInteger">
								<xsd:totalDigits value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Extn">
		<xsd:complexType>
			<xsd:attribute name="Volume" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Volume of the delivery item group.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="0"/>
								<xsd:totalDigits value="14"/>
								<xsd:fractionDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Weight" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Weight of the delivery item group.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="0"/>
								<xsd:totalDigits value="14"/>
								<xsd:fractionDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="VolumeUOM" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Volume UOM of the delivery item group.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="WeightUOM" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Weight UOM of the delivery item group.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="HasExceptionVolume" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						"Y" if Volume is above exception threshold, if not "N"
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="HasExceptionQty" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						"Y" if Qty of article is above exception threshold, if not "N"
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Options">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="yfc:Option" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Option">
		<xsd:complexType>
			<xsd:attribute name="ItemID" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The identifier for the service product. The ITEM_ID, UOM, and PRODUCT_CLASS 
						form the unique inventory identifier for an order line. 
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ShipNode" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Final dispatch location.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="UnitOfMeasure" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The identifier for the service product. The ITEM_ID, UOM, and PRODUCT_CLASS 
						form the unique inventory identifier for an order line. 
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="LevelOfService" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The level of service to be considered for the order line. Used for internal delivery date calculations.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FulfillmentType" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The method of fulfilling the orderline during scheduling.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="TransportMethod" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Classification of basic transport methods offered by IKEA
						 (E.g. “Truck – Curb side”, “Truck – Indoor”, “Parcel”). 
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="EarliestShipDate" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The earliest dispatch date from the final dispatch location. 
						Will not be re-calculated by Sterling if passed in input when considering time windows. 
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:dateTime"/>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="TransportMethodType" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Classification of the basic means of transport (e.g. “Parcel” and “Truck”).
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="TransportMethodOption" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Options connected to a transport method. Drives additional delivery 
						cost. (E.g. “Standard”, “Express”, “Low Fare”). 
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PromiseLines">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="yfc:PromiseLine" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PromiseLine">
		<xsd:complexType>
		<xsd:sequence>
				<xsd:element name="Extn" minOccurs="1" maxOccurs="1"><xsd:complexType>
				<xsd:attribute name="HasExceptionQty" use="required">
				<xsd:annotation>
					<xsd:documentation>
						"Y" if Qty of article is above exception threshold, if not "N"
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute></xsd:complexType>
			</xsd:element>
		</xsd:sequence>
			<xsd:attribute name="ItemID" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The identifier for the item. The ITEM_ID, UOM, and PRODUCT_CLASS form the unique 
						inventory identifier for an order line. The ITEM_ID, UOM and ORGANIZATION_CODE 
						form the unique item identifier for the Product Management module.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="LineId" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Unique identifier for the line. It is mandatory to pass this attribute.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="RequiredQty" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Required Quantity.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0"/>
						<xsd:totalDigits value="14"/>
						<xsd:fractionDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="UnitOfMeasure" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The unit of measure.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="DeliveryMethod" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Delivery Method sent by Web
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="DEL"/>
						<xsd:enumeration value="PICK"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="FulfillmentType" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Depicts the method of fulfilling the order line during scheduling.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ProcureFromNode" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Node from which shipping node can procure inventory from.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="BundleParentLineId" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Unique identifier for the parent line. Required for Component of SPR if the request contains SPR items
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="128"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="KitQty" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Indicates quantity of child component of an SPR when ordering a single quantity of the SPR. 
						Required for Component of SPR if the request contains SPR items
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value=""/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:minInclusive value="0"/>
								<xsd:totalDigits value="14"/>
								<xsd:fractionDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ServiceAssociations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="yfc:ServiceAssociation" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ServiceAssociation">
		<xsd:complexType>
			<xsd:attribute name="ProductLineId" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Unique identifier for the product line. The same value must be passed
						in the Promise Line to identify the Product Line attached to the Service Line.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ServiceLineId" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Unique identifier for the service line. The same value must be passed in 
						the Promise Service Line to identify the Promise Service Line attached to the Product Line
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>