source/CommonResources/DataModels/Infrastructure/ErrorHandling/V1/IIPResponseMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="ikea.com/system/iip/IIPResponseMessage/1.0/"
	elementFormDefault="qualified" xmlns="ikea.com/system/iip/IIPResponseMessage/1.0/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="IIPResponseMessageType">
		<xsd:sequence>
			<xsd:element name="Status" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IIPResponseMessage" type="IIPResponseMessageType" />
</xsd:schema>